.create-item {
    display         : flex;
    padding         : 5px 10px;
    justify-content : space-between;
    margin-block    : 15px;
    width           : 90%;
    background-color: $LightGray;
    border-radius   : 15px;
    padding         : 10px 15px;

    .create-item--input {
        color           : black;
        border          : none;
        background-color: transparent;
        width           : inherit;

        &:focus-visible {
            outline: none;
        }

        &::placeholder {
            // font-weight: $Weight2;
            color      : black;
        }
    }

    .create-item-btn {

        border          : none;
        background-color: transparent;
    }

}