header {
    display        : flex;
    height         : auto;
    position       : relative;
    justify-content: center;
    gap            : 40px;
    width          : 100%;

    h1 {
        font-size     : $size + 1;
        letter-spacing: 5px;
        text-transform: uppercase;
        color         : $White;
        font-weight   : $Weight2;
    }
}