
$VioletBg  : #3d387a
;

$White                         : hsl(0, 0%, 98%);
$Gray                          :#d1d1d1b0
;
$DarkGray                      :#808080c4
;
$LightGray                     :#dfdfdf
;
$Green                         :rgb(111, 228, 111);
$Red                           : rgb(255, 51, 51);
$size    : 1.8rem;
$size-bx : 3rem;

$Family  : "Josefin Sans";
$Weight1 : 400;
$Weight2 : 700;