* {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

html {
    font-size  : 62.5%;
    font-family: $Family;
}

body #App {
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    background      : url('./bg-mobile-light.jpg') no-repeat;
    background-size : 100% 30vh;
    background-color: $VioletBg;
    padding         : 7vh 7vw ;
    min-width       : 320px;
    height          : auto;
    min-height      : 100vh;
}
